/* Global Styles */
:root {
  --primary: #d4ff33;
  --secondary: #5e33ff;
  --bg-dark: rgba(0, 0, 0, 0.75);
  --bg-gradient: linear-gradient(
    180deg,
    rgba(21, 0, 97, 0.75) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  --glow-primary: 0px 0px 10px var(--primary);
  --glow-secondary: 0px 0px 10px var(--secondary);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Goldman", sans-serif;
  box-sizing: border-box;
  color: var(--primary);
  font-weight: 100;
  text-decoration: none;
  scrollbar-width: none;
  list-style: none;
  overflow: hidden;
}

/* Base Layout */
body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  width: 100svw;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 60px;
  background-clip: padding-box;
  animation: enter 0.5s ease-out;
  overflow: visible;
}

h1 {
  font-size: 20px;
  text-shadow: #5e33ff 0px 1px 2px;
}

#root::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10px;
  border-radius: inherit;
  box-shadow: var(--glow-secondary);
  border: var(--secondary) solid 1px;
  opacity: 0.15;
  background: repeating-radial-gradient(
    circle,
    var(--secondary),
    var(--secondary) 10px,
    black 10px,
    black 20px
  );
}
